<!DOCTYPE html>
<html>
<head>
    <title>OTP Confirmation</title>
</head>
<body>
    <h1>Hello {{username}},</h1>
    <p>Thank you for registering. To complete your registration, please enter the following One Time Password (OTP) in the application:</p>
    <h2 style="color:blue">{{otp}}</h2>
    <p>This OTP is valid for 3 minutes. If you did not request this OTP, please ignore this email.</p>
    <p>Best,</p>
    <p>Your Team</p>
</body>
</html>